body {
  width:794px;
  height:1123px;
  margin: 0 auto;
  border:1px solid #000000;
  font-family: "Arial";
  font-size: 13px;
}

#pageSize {
  margin: 55px 50px;
  height: 1013px;
}

img {
  width: 240px;
  height: 60px;
}

#invoice p{
  float: right;
  font-size: 25px;
  margin-top: 20px;
  font-weight: bold;
}

#contact {
  margin-top: 40px;
}

#billTo {
  margin-top: 70px;
}

table, tr, td {
  border: 0.5px solid black;
  border-spacing: 0;
  empty-cells:show;
}

.title {
  background-color: #E7F5F9;
}

#invoiceInformationTable table{
  position: absolute;
  margin-left: 347px;
  margin-top: 20px;
  font-size: 12px;
}

#invoiceInformationTable td{
  width: 170px;
  height: 30px;
}

#descriptionTable table{
  width: 693px;
  height: 200px;
  text-align: center;
  font-size: 13px;
}

#descriptionTable > td{
  height: 10px;
}

#web {
  text-align: left;
  padding-bottom: 80px;
}

#des {
  text-align: left;
}

.left {
  float: left;
  font-weight: bold;
  font-size: 15px;
}

.right {
  float: right;
}
